@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

body {
  font-family: "Quicksand", sans-serif;
}

.hero {
  background: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("./Assets/header.svg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 700px;
}

.hero-text {
  margin-top: 246px;
}

.adventure-title {
  font-size: 70px;
  font-weight: 600;
}

.adventure-name {
  font-size: 40px;
  font-weight: 500;
}
